
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    font-family: "Mulish";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: auto;
    max-width: 1500px;
}
.container1{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text1{
    width: 45rem;
}
.text1 span{
    padding: .8rem;
    font-size: 28px;
    font-weight: 600;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; */
}
.text1 p{
    font-size: 55px;
    font-weight: 650;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.break{
    display: flex;
    align-items: center;
}
.stars{
    margin: 0rem;
    color: #fee907;
}
.button1{
    font-weight: 650;
    font-size: 22px;
    padding: .5rem 4rem;
    border-radius: 18px;
    margin-right: 1.5rem;
    border-color: #000;
    border-style:solid;
    background-color: #fff;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.button2{
    font-weight: 650;
    border: none;
    font-size: 22px;
    padding: .7rem 4rem;
    border-radius: 18px;
    margin-right: 1.5rem;
    background-color: #fae504;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.img{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    overflow: hidden;
}
.img img{
    width: 25rem;
    height: auto;
}
.container2{
    flex-wrap: wrap;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 1rem;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container2 span{
    font-size: 20px;
    padding: 1rem;
    color: #fff;

    align-items: center;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
@media (max-width: 321px){
    .container1{
        /* background-color: bisque; */
        display: flex;
        align-items: start;
        padding: 1rem;
        flex-wrap: wrap-reverse;
    }
    .text1{
        margin-top: 2rem;
        text-align: center;
    }
    .text1 p{
        width: 18rem;
        font-size: 25px;
        text-align: center;
    }
    .text1 span{
        padding: 1rem;
        font-size: 12px;
    }
    .button1{
        margin-bottom: 1rem;
        padding: .6rem 2rem;
        font-size: 15px;
    }
    .button2{
        font-size: 15px;
    }
    .container2 span{
        font-size: 12px;
    }
    .img{
        width: 10rem;
        height: 10rem;
    }
    .img img{
        width: 10rem;
        height: auto;
    }
}
@media (min-width: 360px) and (max-width: 761px){
    .container1{
        /* background-color: bisque; */
        display: flex;
        align-items: start;
        padding: 1rem;
        flex-wrap: wrap-reverse;
    }
    .text1{
        /* width: 80%; */
        margin-top: 2rem;
        text-align: center;
    }
    .text1 p{
        font-size: 28px;
    }
    .text1 span{
        padding: 1rem;
        font-size: 16px;
    }
    .button1{
        margin-bottom: 1rem;
        padding: .6rem 2rem;
        font-size: 18px;
    }
    .button2{
        font-size: 18px;
    }
    .container2 span{
        font-size: 12px;
    }
    .img{
        width: 15rem;
        height: 15rem;
    }
    .img img{
        width: 15rem;
        height: auto;
    }
}
@media (min-width: 760px) and (max-width: 1150px){
    .container1{
        /* background-color: bisque; */
        display: flex;
        align-items: start;
        padding: 1rem;
    }
    .text1{
        width: 35rem;
    }
    .text1 p{
        font-size: 40px;
    }
    .text1 span{
        padding: 1rem;
        font-size: 25px;
    }
    .button1{
        padding: .6rem 2rem;
        font-size: 18px;
    }
    .button2{
        font-size: 18px;
    }
    .container2 span{
        font-size: 12px;
    }
    .img{
        width: 15rem;
        height: 15rem;
    }
    .img img{
        width: 15rem;
        height: auto;
    }
}