.testimonials {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.testimonial {
  position: relative;
  width: 300px; /* Fixed width */
  height: 300px; /* Fixed height */
  padding: 20px;
  padding-top: 60px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  background-color: #fff;
}

.testimonial img {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #f0f0f0; 
}

.testimonial .name {
  font-size: 14px; /* Smaller font size */
  font-weight: bold;
  margin-top: 20px;
}

.testimonial .quote {
  font-size: 12px; /* Smaller font size */
  font-style: italic;
  color: #555;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ccc; 
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #f0f0f0;
}

/* Media query for phone screen sizes between 300px and 900px */
@media (max-width: 769px) {
  .testimonials {
    gap: 5rem;
    margin-top: 6rem;
    flex-direction: column; /* Stack cards vertically on smaller screens */
  }

  .testimonial {
    width: 100%; /* Make the card width responsive */
    height: auto; /* Adjust the height to fit the content */
  }
}
